
<div class="row">
  <div class="col-2">{{name}}{{surname}}</div>
  <div class="col-2">{{}}</div>
  <div class="col-2">{{}}</div>
  <div class="col-2">{{}}</div>
  <div class="col-2">{{}}</div>
  <div class="col-2">{{notice}}</div>


  <h1>Список сторінок</h1>
  <p>Тут вам потрібно написати інформацію про ваш проєкт.
Поки що можна написати будь-який текст</p>

  <a class="btn btn-primary" href="bio">BIO</a>
</div>

