<div class='card'>
    

      <div class='card-body'>
        <div class='row'>
        <div class='col-2'>
          <img
            src='https://picsum.photos/110/110'
            alt='Samsung Galaxy S21 Ultra '
          />
        </div>
        <div class='col-4'>
          <h5>Samsung Galaxy S21 Ultra </h5>
          <p>'екран 6.8", процесор Exynos 2100/Snapdragon
            888, 12 ГБ ОЗУ, камера 108 МП, акумулятор 5000
            мАг</p>
        </div>
        <div class='col-2'>
          <h6>Ціна:</h6>
          <h4>25 000грн</h4>
        </div>
        <div class='col-2'>1 шт</div>
        <div class='col-2'>
          <div
            class='btn btn-primary text-light'
          >Додати</div>
          <div class='btn btn-outline-danger'>Видалити</div>
        </div>
      </div>
      </div>
    </div>
  </div>
<div>
  {{#each card}}
  
  {{/each}}
</div>